<div class="breadcrumb-wrapper">
    <h3 class="mainTitle no-margin"><strong><span class="text-super-large text-muted">Care Providers</span></strong></h3>
    <div ncy-breadcrumb class="pull-right"></div>
</div>

<div class="container-fluid container-fullw padding-bottom-10">
    <div class="panel panel-dami" id="activities">
        <div class="panel-heading border-light">
            <h4 class="panel-title text-primary">Care Providers List</h4>
            <paneltool class="panel-tools" tool-collapse="tool-collapse" tool-refresh="load1" tool-dismiss="tool-dismiss"></paneltool>
        </div>
        <div uib-collapse="activities" ng-init="activities=false" class="panel-wrapper">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 col-lg-2">
                        <div class="panel panel-white no-radius hvr-grow-shadow" onclick="location.href='#/partners/dashboard/care-providers/hospital/1';"  style="cursor: pointer;">
                            <div class="panel-heading border-bottom">
                                <h4 class="panel-title"><strong><a ui-sref="partners.care-providers.hospital({id:1})">Inlad Medicals</a></strong>
                                    <span class="text-bold block text-extra-large pull-right"><i class="fa fa-pencil-square text-azure"></i></span>
                                </h4>
                                <span class="label label-danger">
                                    Hospital
                                </span>

                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class=""></div>
                                    <div class="col-md-6 col-md-offset-3 no-padding">
                                        <div class="padding-10 text-center">
                                            <img src="assets/images/portfolio/image01_th.jpg" class="img-responsive img-rounded" alt="">
                                        </div>
                                    </div>
                                </div>
                                <p class="text-light text-small">
                                    Yaba, Lagos Nigeria.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="panel panel-white no-radius hvr-grow-shadow" onclick="location.href='#/partners/dashboard/care-providers/pharmacy/1';"  style="cursor: pointer;">
                            <div class="panel-heading border-bottom">
                                <h4 class="panel-title"><strong><a ui-sref="partners.care-providers.pharmacy({id:1})">Johnson Pha..</a></strong>
                                    <span class="text-bold block text-extra-large pull-right"><i class="fa fa-pencil-square text-azure"></i></span>
                                </h4>
                                <span class="label label-success">
                                    Pharmacy
                                </span>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class=""></div>
                                    <div class="col-md-6 col-md-offset-3 no-padding">
                                        <div class="padding-10 text-center">
                                            <img src="assets/images/portfolio/image05_th.jpg" class="img-responsive img-rounded" alt="">
                                        </div>
                                    </div>
                                </div>
                                <p class="text-light text-small">
                                    Lekki, Lagos Nigeria.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>