<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin"><strong><span class="text-super-large text-muted">Clients</span></strong></h4>
    <span class="mainDescription text-azure">overview &amp; stats </span>
    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!--Modal-->
<ng-include src=" 'assets/views/hmo/clients-partials/modals/enrollee_delete.html' "></ng-include>

<!-- start: YOUR CONTENT HERE -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <uib-tabset class="tabbable">
                        <uib-tab>
                            <uib-tab-heading>
                                <i class="fa fa-user"></i> Enrollees
                            </uib-tab-heading>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-white no-radius">
                                        <div class="panel-heading border-light" style="padding-bottom: 50px !important;">

                                            <div class=" pull-right">
                                                <a class="btn btn-wide btn-primary create-enrollee" href="#" ng-click="open()"><i class="fa fa-plus"></i> Create Enrollee</a>
                                            </div>
                                        </div>
                                        <treasure-overlay-spinner active='spinner.active'>
                                            <div class="panel-body">
                                                <table class="table table-striped table-hover" id="sample-table-3">
                                                    <thead>
                                                    <tr>
                                                        <th class="hidden-xs">Image</th>
                                                        <th class="">Enrollee ID</th>
                                                        <th>Full Name</th>
                                                        <th>Email</th>
                                                        <th class="hidden-xs">Plan</th>
                                                        <th class="hidden-xs center" >Status</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="enrollee in hmoClient.enrollees" on-last-repeat>
                                                        <td class="center" ng-click="hmoClient.showEnrollee(enrollee.enrollee_id)" style="cursor: pointer;" ><img src="{{ enrollee.image_url}}" class="img-rounded" alt="image" height="50px"/></td>
                                                        <td class="hidden-xs">{{enrollee.generated_id}}</td>
                                                        <td class="hidden-xs">{{ enrollee.first_name }}, {{ enrollee.last_name }}</td>
                                                        <td class="hidden-xs"><a href="#" rel="nofollow" target="_blank"> {{ enrollee.email }} </a></td>
                                                        <td class="hidden-xs">{{enrollee.plan_name}}</td>
                                                        <td class="hidden-xs center">
                                                            <span class="label label-success" ng-show="{{enrollee.status}}">active</span>
                                                            <span class="label  danger-gradient" ng-hide="{{enrollee.status}}">inactive</span>
                                                        </td>
                                                        <td class="center">
                                                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                                <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Edit"><i class="fa fa-pencil"></i></a>
                                                                </a>
                                                                <a href="#" class="btn btn-transparent btn-xs tooltips" ng-click="delete()" tooltip-placement="top" uib-tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                            </div>
                                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                                <div class="btn-group" uib-dropdown>
                                                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" uib-dropdown-toggle>
                                                                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                                                    </button>
                                                                    <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                                                        <li>
                                                                            <a href="#"> Byes </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#"> Remove </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </treasure-overlay-spinner>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                <i class="fa fa-building"></i> Organizations
                            </uib-tab-heading>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-white no-radius">
                                        <div class="panel-heading border-light" style="padding-bottom: 50px !important;">
                                            <div class=" pull-right">
                                                <a class="btn btn-wide btn-primary create-enrollee" href="#" ng-click="open()"><i class="fa fa-plus"></i> Create Organization</a>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <table class="table table-striped table-hover" id="sample-table-3">
                                                <thead>
                                                <tr>
                                                    <th class="">Enrollee ID</th>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th class="hidden-xs">Phone Number</th>
                                                    <th class="hidden-xs center" >Enrollee Count</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="org in hmoClient.organizations">
                                                    <td class="center" ng-click="hmoClient.showOrganization(org.organization_id)" style="cursor: pointer;" ><a href="#" rel="nofollow" target="_blank"> {{ org.generated_id }} </a></td>
                                                    <td class="hidden-xs">{{ org.name }}</td>
                                                    <td class="hidden-xs"><a href="#" rel="nofollow" target="_blank"> {{ org.email }} </a></td>
                                                    <td class="hidden-xs">{{org.phone}}</td>
                                                    <td class="hidden-xs center"> {{ org.enrollee_count }}</td>
                                                    <td class="center">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                            <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Edit"><i class="fa fa-pencil"></i></a>
                                                            </a>
                                                            <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" uib-tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                        </div>
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="btn-group" uib-dropdown>
                                                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" uib-dropdown-toggle>
                                                                    <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                                                    <li>
                                                                        <a href="#"> Byes </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#"> Remove </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: TABS -->

