<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Health Plans</h4>
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<ng-include src=" 'assets/views/hmo/clients-partials/modals/create_plan.html' "></ng-include>

<!-- end: BREADCRUMB -->
<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white" id="activities">
				<div class="panel-heading border-light" style="padding-bottom: 50px !important;">
					<div class="pull-right">
						<a class="btn btn-wide btn-primary create-enrollee" href="#" ng-click="openCreateView()"><i class="fa fa-plus"></i> Create a Plan</a>
					</div>
				</div>
				<div uib-collapse="activities" ng-init="activities=false" class="panel-wrapper">
					<div class="panel-body">
						<table class="table table-striped table-hover" id="sample-table-3">
							<thead>
								<tr>
									<th class="center">Name</th>
									<th class="center">Cover Limit</th>
									<th class="center">Premuim</th>
									<th class="center">Enrollee Count</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="plan in healthPlanCtrl.plans" on-last-repeat ng-click="healthPlanCtrl.showPlan(plan.plan_id)" style="cursor: pointer;">
									<td class="center">{{ plan.name }}</td>
									<td class="center">{{ plan.cover | currency:"Naira "}}</td>
									<td class="center">{{ plan.premium | currency:"Naira "}}</td>
									<td class="center">{{ plan.enrollee_count}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>