<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Health Plans</h4>
    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<div class="container-fluid container-fullw padding-bottom-10">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white" id="activities">
                <div class="panel-heading border-light">
                    <h4 class="panel-title text-primary">Health Plans Statistics <button type="button" class="btn btn-success btn-wide btn-scroll btn-scroll-top ti-plus pull-right margin-top-minus-5" ng-click="healthPlanCtrl.createPlan()">
                        <span>Create Plan</span>
                    </button></h4>

                    <paneltool class="panel-tools" tool-collapse="tool-collapse" tool-refresh="load1" tool-dismiss="tool-dismiss"></paneltool>
                </div>
                <div uib-collapse="activities" ng-init="activities=false" class="panel-wrapper">
                    <div class="panel-body">
                        <div class="row">
                            <a ui-sref="healthPlan.plan({id: 1, pageName:'Gold'})">
                                <div class="col-md-2">
                                    <div class="panel panel-pink no-border no-radius">
                                        <div class="panel-body no-padding">

                                            <div class="space10 padding-15">
                                                <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase no-margin"><a ui-sref="healthPlan.plan({id: 1, pageName:'Gold'})">Gold Plan</a></h5>
                                                <h2 class="text-white margin-top-15 margin-bottom-10">N 2,000 </h2>
                                                <span class="label label-success margin-right-5"><a href="#">N 350,000</a></span><span class="text-extra-small">Cover Limit</span>
                                                <div class="min-height-40">
                                                    <div class="padding-top-20">
                                                        <uib-progressbar class="progress-sm no-radius no-margin background-dark" value="22" type="warning"></uib-progressbar>
                                                        <p class="no-margin">
                                                            <span class="text-extra-small text-white pull-left">22%(1000)</span>
                                                            <span class="text-extra-small text-white pull-right">of all the enrollees</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>


                            <div class="col-md-2">
                                <div class="panel panel-pink no-border no-radius">
                                    <div class="panel-body no-padding">
                                        <div class="space10 padding-15">
                                            <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase no-margin"><a ui-sref="healthPlan.plan({id: 1})">Diamond Plan</a></h5>
                                            <h2 class="text-white margin-top-15 margin-bottom-10">N 2,500 </h2>
                                            <span class="label label-success margin-right-5"><a href="#">N 350,000</a></span><span class="text-extra-small">Cover Limit</span>
                                            <div class="min-height-40">
                                                <div class="padding-top-20">
                                                    <uib-progressbar class="progress-sm no-radius no-margin background-dark" value="25" type="warning"></uib-progressbar>
                                                    <p class="no-margin">
                                                        <span class="text-extra-small text-white pull-left">25%(1000)</span>
                                                        <span class="text-extra-small text-white pull-right">of all the enrollees</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="panel panel-pink no-border no-radius">
                                    <div class="panel-body no-padding">
                                        <div class="space10 padding-15">
                                            <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase no-margin"><a ui-sref="healthPlan.plan({id: 1})">Silver Plan</a></h5>
                                            <h2 class="text-white margin-top-15 margin-bottom-10">N 4,000 </h2>
                                            <span class="label label-success margin-right-5"><a href="#">N 500,000</a></span><span class="text-extra-small">Cover Limit</span>
                                            <div class="min-height-40">
                                                <div class="padding-top-20">
                                                    <uib-progressbar class="progress-sm no-radius no-margin background-dark" value="35" type="warning"></uib-progressbar>
                                                    <p class="no-margin">
                                                        <span class="text-extra-small text-white pull-left">35%(1000)</span>
                                                        <span class="text-extra-small text-white pull-right">of all the enrollees</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="panel panel-pink no-border no-radius">
                                    <div class="panel-body no-padding">
                                        <div class="space10 padding-15">
                                            <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase no-margin"><a ui-sref="healthPlan.plan({id: 1})">Bronze Plan</a></h5>
                                            <h2 class="text-white margin-top-15 margin-bottom-10">N 6,000 </h2>
                                            <span class="label label-success margin-right-5"><a href="#">N 700,000</a></span><span class="text-extra-small">Cover Limit</span>
                                            <div class="min-height-40">
                                                <div class="padding-top-20">
                                                    <uib-progressbar class="progress-sm no-radius no-margin background-dark" value="15" type="warning"></uib-progressbar>
                                                    <p class="no-margin">
                                                        <span class="text-extra-small text-white pull-left">15%(1000)</span>
                                                        <span class="text-extra-small text-white pull-right">of all the enrollees</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
