<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Health Plans</h4>
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<ng-include src=" 'assets/views/hmo/clients-partials/modals/create_plan.html' "></ng-include>

<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="panel-heading border-light" style="padding-bottom: 50px !important;">
			<div class="pull-right">
				<a class="btn btn-wide btn-primary create-enrollee" href="#" ng-click="openCreateView()"><i class="fa fa-plus"></i> Create a Plan</a>
			</div>
		</div>
		<div class="col-md-4 col-lg-3" ng-repeat="plan in healthPlanCtrl.plans" on-last-repeat ng-click="healthPlanCtrl.showPlan(plan.plan_id)" style="cursor: pointer;">
			<div class="panel panel-white hvr-grow-shadow">
				<div class="panel-heading border-bottom" style="border-left: 10px solid #5A8770 !important;">
					<h4 class="panel-title text-bold">{{ plan.name }}</h4>
				</div>
				<div class="panel-body">
					<h5 class="text-bold">Description</h5>
					<p class="text-light text-small">
						A simple HMO plan
					</p>
					<div class="row">
						<div class="col-xs-12 no-padding">
							<div class="padding-10 text-center">
								<i class="ti-pencil-alt text-green large-letters"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="clearfix padding-5 padding-top-10 padding-bottom-10 space5">
						<div class="col-xs-6 text-center">
							<div class="">
								<span class="text-bold block text-large">{{ plan.premium | currency:"&#8358"}}</span>
								<span class="text-light text-extra-small">Premium</span>
							</div>
						</div>
						<div class="col-xs-6 text-center ">
							<div>
								<span class="text-bold block text-large">{{ plan.cover | currency: '&#8358;'}}</span>
								<span class="text-light text-extra-small">Cover Limit</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
