<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin"><strong><span class="text-super-large text-muted">MEDIC PLUS HMO</span></strong></h4>
    <span class="mainDescription text-azure">overview &amp; stats </span>
    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: YOUR CONTENT HERE -->
<!-- end: YOUR CONTENT HERE -->
<div ng-if="currentUser.data.role.data.name == 'admin'">
    <ng-include src=" 'assets/views/hmo/clients-partials/home/admin.html' "></ng-include>
</div>

<div ng-if="currentUser.data.role.data.name == 'claims'">
    <ng-include src=" 'assets/views/hmo/clients-partials/home/claims.html' "></ng-include>
    <ng-include src=" 'assets/views/hmo/clients-partials/home/claims-medical-rcd.html' "></ng-include>
</div>


