<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Johnson Pharmacy Profile</h4>
    <div ncy-breadcrumb class="pull-right"></div>
</div>

<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <!-- /// controller:  'UserCtrl' -  localtion: assets/js/controllers/userCtrl.js /// -->
            <div >
                <!-- start: USER TABSET -->
                <uib-tabset class="tabbable">
                    <!-- start: TAB OVERVIEW -->
                    <uib-tab heading="Overview">
                        <div class="row">
                            <ng-include src=" 'assets/views/hmo/clients-partials/pharmacy/overview.html' "></ng-include>
                            <ng-include src=" 'assets/views/hmo/clients-partials/pharmacy/care-distribution.html' "></ng-include>
                        </div>
                    </uib-tab>
                    <!-- end: TAB OVERVIEW -->
                    <!-- start: TAB EDIT ACCOUNT -->
                    <uib-tab heading="Referral">
                    </uib-tab>


                </uib-tabset>
                <!-- end: USER TABSET -->
            </div>
        </div>
    </div>
</div>
