<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Staff</h4>
    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<div class="container-fluid container-fullw padding-bottom-10">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white" id="activities">
                <div class="panel-heading border-light">
                    <div ng-if="currentUser.data.role.data.name == 'admin'">
                        <h4 class="panel-title text-primary text-bold">Staff <button type="button" class="btn btn-success btn-wide btn-scroll btn-scroll-top ti-plus pull-right margin-top-minus-5" ng-click="staffCtrl.createStaff()">
                            <span>Create Staff</span>
                        </button></h4>
                    </div>
                </div>
                <div uib-collapse="activities" class="panel-wrapper" active="staffCtrl.tabIndex">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
