<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" >ALL HMOs</h4>
    <span class="mainDescription">data &amp; more </span>
    <div ncy-breadcrumb class="pull-right"></div>
</div>

<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-white no-radius no-margin">
                <div class="panel-heading border-light padding-30">
                    <div class="row">
                        <div class="col-lg-4 col-xs-5">
							<span class="input-icon">
								<input type="text" placeholder="Search posts..." id="form-field-14" class="form-control radius-10">
								<i class="ti-search"></i> </span>
                        </div>
                        <div class="col-lg-8 col-xs-7 text-right">
                            <div class="btn-group margin-top-5" uib-dropdown ng-init="selected='Newest'">
                                <button id="split-button" type="button" class="btn btn-azure btn-sm">
                                    Sort by: <span class="text-bold">{{selected}}</span>
                                </button>
                                <button type="button" class="btn btn-azure btn-sm" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                    <li role="menuitem">
                                        <a href="#" ng-click="selected='Newest'">
                                            Newest
                                        </a>
                                    </li>
                                    <li role="menuitem">
                                        <a href="#" ng-click="selected='Oldest'">
                                            Oldest
                                        </a>
                                    </li>
                                    <li role="menuitem">
                                        <a href="#" ng-click="selected='Approved'">
                                            Approved
                                        </a>
                                    </li>
                                    <li role="menuitem">
                                        <a href="#" ng-click="selected='In Review'">
                                            In Review
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="menuitem">
                                        <a href="#" ng-click="selected='Declined'">
                                            Declined
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body padding-top-0">
                    <table class="table no-margin">
                        <tbody>
                        <tr>
                            <td class="max-width-100">
                                <div class="icons-effect">
                                    <img src="assets/images/portfolio/image01_th.jpg" class="img-responsive img-rounded" alt="">
                                    <div class="mask mask-rounded">
                                        <div class="icons-wrapper">
                                            <div class="icons">
                                                <a href="#" class="icon">
                                                    <span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-white"></i> <i class="fa fa-search fa-stack-1x text-extra-large text-light"></i> </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div></td>
                            <td>
                                <div class="padding-10">
                                    <div class="block">
                                        <strong>Multi-slot transclusion</strong><span class="text-muted"> has been approved</span>
                                    </div>
                                    <span class="text-small text-muted">An endorsement for </span><span class="text-azure">AngularJs</span>
                                    <div class="block margin-top-10">
                                        <span class="label label-success">Approved</span>
                                    </div>
                                </div></td>
                            <td class="hidden-xs">
                                <div class="block">
                                    <a href="#" class="block">
                                        <i class="fa fa-comments text-azure"></i> Workroom
                                    </a>
                                    <a href="#" class="block">
                                        <i class="fa fa-retweet text-green"></i> Re-Hire
                                    </a>
                                </div></td>
                            <td class="visible-lg">
                                <div class="col-xs-4 no-padding text-center">
                                    <div class="border-right border-dark padding-5">
                                        <small class="text-muted">Subscribers
                                            <br>
                                            <strong>156,987</strong></small>
                                    </div>
                                </div>
                                <div class="col-xs-4 no-padding text-center">
                                    <div class="border-right border-dark padding-5">
                                        <small class="text-muted">Female
                                            <br>
                                            <strong>38%</strong></small>
                                    </div>
                                </div>
                                <div class="col-xs-4 no-padding text-center">
                                    <div class="padding-5">
                                        <small class="text-muted">Male
                                            <br>
                                            <strong>62%</strong></small>
                                    </div>
                                </div></td>
                        </tr>
                        <tr>
                            <td class="max-width-100">
                                <div class="icons-effect">
                                    <img src="assets/images/portfolio/image02_th.jpg" class="img-responsive img-rounded" alt="">
                                    <div class="mask mask-rounded">
                                        <div class="icons-wrapper">
                                            <div class="icons">
                                                <a href="#" class="icon">
                                                    <span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-white"></i> <i class="fa fa-search fa-stack-1x text-extra-large text-light"></i> </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div></td>
                            <td>
                                <div class="padding-10">
                                    <div class="block">
                                        <strong>Command Line Interface</strong><span class="text-muted"> has been approved</span>
                                    </div>
                                    <span class="text-small text-muted">An endorsement for </span><span class="text-azure">Apple Watch</span>
                                    <div class="block margin-top-10">
                                        <span class="label label-warning">In Review</span>
                                    </div>
                                </div></td>
                            <td class="hidden-xs">
                                <div class="block">
                                    <a href="#" class="block">
                                        <i class="fa fa-comments text-azure"></i> Workroom
                                    </a>
                                    <a href="#" class="block">
                                        <i class="fa fa-retweet text-green"></i> Re-Hire
                                    </a>
                                </div></td>
                            <td class="visible-lg">
                                <div class="col-xs-4 no-padding text-center">
                                    <div class="border-right border-dark padding-5">
                                        <small class="text-muted">Subscribers
                                            <br>
                                            <strong>156,987</strong></small>
                                    </div>
                                </div>
                                <div class="col-xs-4 no-padding text-center">
                                    <div class="border-right border-dark padding-5">
                                        <small class="text-muted">Female
                                            <br>
                                            <strong>68%</strong></small>
                                    </div>
                                </div>
                                <div class="col-xs-4 no-padding text-center">
                                    <div class="padding-5">
                                        <small class="text-muted">Male
                                            <br>
                                            <strong>32%</strong></small>
                                    </div>
                                </div></td>
                        </tr>
                        <tr>
                            <td class="max-width-100">
                                <div class="icons-effect">
                                    <img src="assets/images/portfolio/image03_th.jpg" class="img-responsive img-rounded" alt="">
                                    <div class="mask mask-rounded">
                                        <div class="icons-wrapper">
                                            <div class="icons">
                                                <a href="#" class="icon">
                                                    <span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-white"></i> <i class="fa fa-search fa-stack-1x text-extra-large text-light"></i> </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div></td>
                            <td>
                                <div class="padding-10">
                                    <div class="block">
                                        <strong>Tools and Training</strong><span class="text-muted"> has been approved</span>
                                    </div>
                                    <span class="text-small text-muted">An endorsement for </span><span class="text-azure">Visual Basic</span>
                                    <div class="block margin-top-10">
                                        <span class="label label-danger">Declined</span>
                                    </div>
                                </div></td>
                            <td class="hidden-xs">
                                <div class="block">
                                    <a href="#" class="block">
                                        <i class="fa fa-comments text-azure"></i> Workroom
                                    </a>
                                    <a href="#" class="block">
                                        <i class="fa fa-retweet text-green"></i> Re-Hire
                                    </a>
                                </div></td>
                            <td class="visible-lg">
                                <div class="col-xs-4 no-padding text-center">
                                    <div class="border-right border-dark padding-5">
                                        <small class="text-muted">Subscribers
                                            <br>
                                            <strong>156,987</strong></small>
                                    </div>
                                </div>
                                <div class="col-xs-4 no-padding text-center">
                                    <div class="border-right border-dark padding-5">
                                        <small class="text-muted">Female
                                            <br>
                                            <strong>68%</strong></small>
                                    </div>
                                </div>
                                <div class="col-xs-4 no-padding text-center">
                                    <div class="padding-5">
                                        <small class="text-muted">Male
                                            <br>
                                            <strong>32%</strong></small>
                                    </div>
                                </div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer no-border padding-top-0">
                    <p class="no-margin">
                        <a href="#"><i class="fa fa-arrow-circle-o-down text-green"></i></a>
                        <span class="text-light margin-left-10">Show more details </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
