<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <title data-ng-bind="pageTitle()">HealthPlus - Platform for better Health Management.</title>

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
            $.src="//v2.zopim.com/?4DzwdltRIzkYASqU9fLk8yLIvcG2dnmC";z.t=+new Date;$.
                    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zopim Live Chat Script-->
    <!-- Google fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="lib/themify-icons/themify-icons.css">
    <!-- Flag Icons -->
    <link rel="stylesheet" href="lib/flag-icon-css/css/flag-icon.min.css">
    <!-- Loading Bar -->
    <link rel="stylesheet" href="lib/angular-loading-bar/build/loading-bar.min.css">
    <!-- Animate Css -->
    <link rel="stylesheet" href="lib/animate.css/animate.min.css">
    <!-- Perfect Scrollbar Css -->
    <link rel="stylesheet" href="lib/perfect-scrollbar/css/perfect-scrollbar.min.css">
    <!-- Date Range Picker Css -->
    <link rel="stylesheet" href="lib/bootstrap-daterangepicker/daterangepicker-bs3.css">
    <!-- Angular ui-switch Css -->
    <link rel="stylesheet" href="lib/angular-ui-switch/angular-ui-switch.min.css">
    <!-- Angular Toaster Css -->
    <link rel="stylesheet" href="lib/AngularJS-Toaster/toaster.css">
    <!-- Angular Ng-Aside Css -->
    <link rel="stylesheet" href="lib/angular-aside/dist/css/angular-aside.min.css">
    <!-- Angular Notification Icons Css -->
    <link rel="stylesheet" href="lib/angular-notification-icons/dist/angular-notification-icons.min.css">
    <!-- V-Accordion Css -->
    <link rel="stylesheet" href="lib/v-accordion/dist/v-accordion.min.css">
    <!-- V-Button Css -->
    <link rel="stylesheet" href="lib/v-button/dist/v-button.min.css">
    <!-- Sweet Alert Css -->
    <link rel="stylesheet" href="lib/sweetalert/dist/sweetalert.css">
    <!-- Ladda Buttons Css -->
    <link rel="stylesheet" href="lib/ladda/dist/ladda-themeless.min.css">
    <!-- Angular Awesome Slider Css -->
    <link rel="stylesheet" href="lib/angular-awesome-slider/dist/css/angular-awesome-slider.min.css">
    <!-- Slick Carousel Css -->
    <link rel="stylesheet" href="lib/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="lib/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="lib/hover/css/hover-min.css">
    <!-- Packet CSS -->
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/select.css">
    <link rel="stylesheet" href="lib/angular-treasure-overlay-spinner/dist/treasure-overlay-spinner.min.css">
    <!--<link rel="stylesheet" href="assets/css/morphModal.css">-->
    <!-- Packet Theme -->
    <link rel="stylesheet" data-ng-href="assets/css/themes/{{ app.layout.theme }}.css" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body ng-controller="AppCtrl">
<!--DEMO01-->
<div ui-view id="app" class="{{ app.layout.className }}" ng-class="{'app-mobile' : app.isMobile, 'app-navbar-fixed' : app.layout.isNavbarFixed, 'app-sidebar-fixed' : app.layout.isSidebarFixed, 'app-sidebar-closed':app.layout.isSidebarClosed, 'app-footer-fixed':app.layout.isFooterFixed}"></div>

<!--<div ng-if="currentUser.data.entity.data.name == 'admin'">-->
    <!--<div ui-view id="app" ng-class="{'app-mobile' : app.isMobile, 'app-navbar-fixed' : app.layout.isNavbarFixed, 'app-sidebar-fixed' : app.layout.isSidebarFixed, 'app-sidebar-closed':app.layout.isSidebarClosed, 'app-footer-fixed':app.layout.isFooterFixed}"></div>-->
<!--</div>-->

<!--<div ng-if="currentUser.data.entity.data.name != 'admin'">-->
    <!--<div ui-view id="app" class="lyt-3" ng-class="{'app-mobile' : app.isMobile, 'app-navbar-fixed' : app.layout.isNavbarFixed, 'app-sidebar-fixed' : app.layout.isSidebarFixed, 'app-sidebar-closed':app.layout.isSidebarClosed, 'app-footer-fixed':app.layout.isFooterFixed}"></div>-->
<!--</div>-->

<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Fastclick -->
<script src="/lib/fastclick/lib/fastclick.js"></script>
<!-- Modernizr -->
<script src="lib/components-modernizr/modernizr.js"></script>
<!-- Moment -->
<script src="lib/moment/min/moment.min.js"></script>
<!-- Perfect Scrollbar -->
<script src="lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<!-- Date Range Picker -->
<script src="lib/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- Sweet Alert -->
<script src="lib/sweetalert/dist/sweetalert.min.js"></script>
<!-- Spin -->
<script src="lib/spin.js/spin.js"></script>
<!-- Ladda Buttons -->
<script src="lib/ladda/dist/ladda.min.js"></script>
<!-- Slick Carousel -->
<script src="lib/slick-carousel/slick/slick.min.js"></script>
<!-- Angular -->
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-cookies/angular-cookies.min.js"></script>
<script src="lib/angular-animate/angular-animate.min.js"></script>
<script src="lib/angular-touch/angular-touch.min.js"></script>
<script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
<script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="lib/satellizer/dist/satellizer.js"></script>

<!-- Angular storage -->
<script src="lib/ngstorage/ngStorage.min.js"></script>
<!-- Angular Translate -->
<script src="lib/angular-translate/angular-translate.min.js"></script>
<script src="lib/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
<script src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="lib/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
<script src="lib/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
<!-- oclazyload -->
<script src="lib/oclazyload/dist/ocLazyLoad.min.js"></script>
<!-- breadcrumb -->
<script src="lib/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>
<!-- angular-swipe -->
<script src="lib/angular-swipe/dist/angular-swipe.min.js"></script>
<!-- UI Bootstrap -->
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<!-- Loading Bar -->
<script src="lib/angular-loading-bar/build/loading-bar.min.js"></script>
<!-- Angular Scroll -->
<script src="lib/angular-scroll/angular-scroll.min.js"></script>
<!-- Angular Fullscreen -->
<script src="lib/angular-fullscreen/src/angular-fullscreen.js"></script>
<!-- Angular DateRangePicker -->
<script src="lib/ng-bs-daterangepicker/dist/ng-bs-daterangepicker.min.js"></script>
<!-- Angular Truncate -->
<script src="lib/angular-truncate/src/truncate.js"></script>
<!-- Angular Moment -->
<script src="lib/angular-moment/angular-moment.min.js"></script>
<!-- Angular ui-switch -->
<script src="lib/angular-ui-switch/angular-ui-switch.min.js"></script>
<!-- Angular Ladda -->
<script src="lib/angular-ladda/dist/angular-ladda.min.js"></script>
<!-- Angular Toaster -->
<script src="lib/AngularJS-Toaster/toaster.js"></script>
<!-- Angular Ng-Aside -->
<script src="lib/angular-aside/dist/js/angular-aside.min.js"></script>
<!-- V-Accordion -->
<script src="lib/v-accordion/dist/v-accordion.min.js"></script>
<!-- V-Button -->
<script src="lib/v-button/dist/v-button.min.js"></script>
<!-- Angular Sweet Alert -->
<script src="lib/angular-sweetalert-promised/SweetAlert.min.js"></script>
<!-- Angular Notification Icons -->
<script src="lib/angular-notification-icons/dist/angular-notification-icons.min.js"></script>
<!-- Angular Awesome Slider -->
<script src="lib/angular-awesome-slider/dist/angular-awesome-slider.min.js"></script>
<!-- Angular Slick Carousel -->
<script src="lib/angular-slick-carousel/dist/angular-slick.min.js"></script>

<script src="lib/angular-file-upload/dist/angular-file-upload.min.js"></script>

<!--Permission-->
<script src="lib/angular-permission/dist/angular-permission.js"></script>
<script src="lib/angular-permission/dist/angular-permission-ui.min.js"></script>

<!--Spinner-->
<script src="lib/angular-treasure-overlay-spinner/dist/treasure-overlay-spinner.min.js"></script>

<!--ModalService-->

<!--ngMessages-->
<script src="lib/angular-messages/angular-messages.min.js"></script>

<script src="assets/js/custom/select.js"></script>


<!-- Packet Scripts -->
<script src="assets/js/app.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/config.constant.js"></script>
<script src="assets/js/config.router.js"></script>
<!-- Packet Directives -->
<script src="assets/js/directives/toggle.js"></script>
<script src="assets/js/directives/perfect-scrollbar.js"></script>
<script src="assets/js/directives/empty-links.js"></script>
<script src="assets/js/directives/sidebars.js"></script>
<script src="assets/js/directives/off-click.js"></script>
<script src="assets/js/directives/full-height.js"></script>
<script src="assets/js/directives/panel-tools.js"></script>
<script src="assets/js/directives/char-limit.js"></script>
<script src="assets/js/directives/dismiss.js"></script>
<script src="assets/js/directives/compare-to.js"></script>
<script src="assets/js/directives/select.js"></script>
<script src="assets/js/directives/messages.js"></script>
<script src="assets/js/directives/chat.js"></script>
<script src="assets/js/directives/touchspin.js"></script>
<script src="assets/js/directives/file-upload.js"></script>
<script src="assets/js/directives/letter-icon.js"></script>
<script src="assets/js/directives/landing-header.js"></script>
<script src="assets/js/directives/ct-crop.js"></script>
<script src="assets/js/directives/backbone/OnLastRepeat.js"></script>
<!--<script src="assets/js/directives/backbone/FileUpload.js"></script>-->

<!--Services-->
<script src="assets/js/services/notify.js"></script>
<script src="assets/js/services/currentUser.js"></script>
<script src="assets/js/services/country.js"></script>
<script src="assets/js/services/tokenCheck.js"></script>
<script src="assets/js/services/entity.js"></script>
<script src="assets/js/services/login.js"></script>
<script src="assets/js/services/FileUploadService.js"></script>
<script src="assets/js/services/PermissionService.js"></script>
<script src="assets/js/services/RoleService.js"></script>
<script src="assets/js/services/EnrolleeService.js"></script>
<script src="assets/js/services/OrganizationService.js"></script>
<script src="assets/js/services/PlanService.js"></script>
<script src="assets/js/services/HospitalService.js"></script>


<!-- Packet Controllers -->
<script src="assets/js/controllers/mainCtrl.js"></script>
<script src="assets/js/controllers/inboxCtrl.js"></script>
<script src="assets/js/controllers/bootstrapCtrl.js"></script>
<script src="auth/LoginController.js"></script>
<script src="admin/HmoController.js"></script>
<script src="admin/DashBoardController.js"></script>
<script src="hmo/HmoClientController.js"></script>
<script src="hmo/DateController.js"></script>
<script src="hmo/OrganizationController.js"></script>
<script src="hmo/EnrolleeController.js"></script>
<script src="hmo/HealthPlanController.js"></script>
<script src="hmo/PharmacyController.js"></script>
<script src="hmo/HospitalController.js"></script>
<script src="hmo/StaffController.js"></script>
<script src="hmo/SettingsController.js"></script>
<script src="hmo/ReportController.js"></script>
<script src="hmo/InboxController.js"></script>
<script src="hmo/ViewsMessageController.js"></script>
<script src="hmo/ModalController.js"></script>
<script src="hmo/ImageUploadModal.js"></script>
<script src="assets/js/custom/ModalInstanceController.js"></script>CareProviderController
<script src="hmo/CareProviderController.js"></script>


<!--Custom JS-->


</body>
</html>