.table-actions .fa{
    font-size: 22px ;
}

#medical-history{
    max-height: 500px;
    overflow: auto;
}

.add-new{
    width: 100%;
    height: 150px;
    border: dashed 1px black;
}

.panel-dami {
    background-color: #F1F3FA;
}

.font-10{
    font-size: 10px !important;
}

.treasure-overlay-spinner-container{
    z-index: 100000 !important;
}

.panel-heading{
    background-color: #f7f7f8;
}

.icon-error{
    color: #d80000;
    font-size: 20px;
    margin-top: 6px
}

.icon-success{
    color: #0ead1a;
    font-size: 20px;
    margin-top: 6px
}

.danger-gradient{
    background-color: #D64242;
    background-image: linear-gradient(to left top,rgba(243,122,101,0) 0,#f37a65 100%);
}

 .typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .scroll-fix{
      
  }