<div class="row">
    <div class="col-md-4">
        <div class="user-left">
            <div class="center">
                <div flow-init="{singleFile:true}" flow-name="obj.flow" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                    <div class="user-image">
                        <div class="thumbnail">
                            <img src="assets/images/carousel/04.jpg" class="img-responsive img-rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th colspan="3">Staff Information</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>
                        <a href="#">
                            John Doe
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>
                        <a href>
                            john.doe@mtn.com
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>+234 80-98567-234</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>
                        <a href>
                            No 12 Awolowo way, Lekki Lagos, Nogeria
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Role</td>
                    <td><span class="label label-success">IT Adminstrator</span>
                    </td>
                </tr>
                <tr>
                    <td>Branch</td>
                    <td><span class="label label-success">Lagos</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-white" id="activities">
            <div class="panel-heading border-light">
                <h4 class="panel-title text-primary">Edit Staff Information</h4>
                <paneltool class="panel-tools" tool-collapse="tool-collapse" tool-refresh="load1" tool-dismiss="tool-dismiss"></paneltool>
            </div>
            <div uib-collapse="activities" ng-init="activities=false" class="panel-wrapper">
                <div class="panel-body">
                    <form action="#" role="form" id="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">
                                        Name
                                    </label>
                                    <input type="text" placeholder="Title" class="form-control" name="name" value="John Doe">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Phone
                                    </label>
                                    <input type="text" placeholder="Title" class="form-control" name="name" value="+234 80-98567-234">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Email
                                    </label>
                                    <input type="text" placeholder="Title" class="form-control" name="name" value="john.doe@gmail.com">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Role
                                    </label>
                                    <input type="text" placeholder="Title" class="form-control" name="name" value="IT Ad ministrator">
                                </div>

                                <div class="form-group">
                                    <label for="form-field-select-2">
                                        Branch
                                    </label>
                                    <select class="cs-select cs-skin-elastic">
                                        <option value="" disabled >Select a Branh</option>
                                        <option value="france"  selected>Lagos</option>
                                        <option value="brazil" >Port Harcout</option>
                                        <option value="argentina" >Abuja</option>
                                        <option value="shopping" >Ibadan</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <a href="#" class="btn btn-success btn-lg" ng-click="update()" ng-if="currentUser.data.role.data.name == 'admin'"> Update </a>
                    </form>

                </div>
            </div>
        </div>
        <div class="panel panel-white space20 " ng-if="currentUser.data.role.data.name == 'admin'">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <button type="button" class="btn btn-wide btn-danger" style="width: 100%">
                            Delete Staff !
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


