<div class="col-md-8">
    <div class="panel panel-white" id="medical-history">
        <div class="panel-heading border-light">
            <h4 class="panel-title text-primary">Medical History</h4>
            <paneltool class="panel-tools" tool-collapse="tool-collapse" tool-refresh="load1" tool-dismiss="tool-dismiss"></paneltool>
        </div>
        <div uib-collapse="activities" ng-init="activities=false" class="panel-wrapper">
            <div class="panel-body">
                <div id="timeline">
                    <div class="timeline">
                        <div class="spine"></div>
                        <div class="date_separator" id="november">
                            <span>NOVEMBER 2014</span>
                        </div>
                        <ul class="columns">
                            <li>
                                <div class="timeline_element partition-white">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">02</span>
                                            </div>
                                            <div class="inline-block">
                                                <span class="block week-day text-extra-large">Wednesday</span>
                                                <span class="block month text-large text-light">november 2014</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_title">
                                        <i class="fa fa-ban fa-2x pull-left fa-border text-orange"></i>
                                        <h4 class="light-text no-margin padding-5">Pending</h4>
                                    </div>
                                    <div class="timeline_content">
                                        <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </div>
                                    <div class="readmore">
                                        <a href="#" ng-morphing-modal content-selector="cbc" data-type="modal-trigger" class="btn btn-primary btn-o btn-wide"> Read More <i class="fa fa-arrow-circle-right"></i> </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline_element partition-white">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">05</span>
                                            </div>
                                            <div class="inline-block">
                                                <span class="block week-day text-extra-large">Wednesday</span>
                                                <span class="block month text-large text-light">november 2014</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_title">
                                        <i class="fa fa-check fa-2x pull-left fa-border text-green"></i>
                                        <h4 class="light-text no-margin padding-5">Appointment</h4>
                                    </div>
                                    <div class="timeline_content">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-4">
                                                <img src="assets/images/photodune-4043508-3d-modern-office-room-l.jpg" alt="offce" class="img-responsive" />
                                            </div>
                                            <div class="col-md-9 col-xs-8">
                                                <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="readmore">
                                        <a href="#" class="btn btn-primary" ng-click="openAside('top')"> Read More <i class="fa fa-arrow-circle-right"></i> </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline_element partition-primary">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">12</span>
                                            </div>
                                            <div class="inline-block">
                                                <span class="block week-day text-extra-large">Wednesday</span>
                                                <span class="block month text-large text-white-transparent">november 2014</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_title">
                                        <i class="fa fa-check fa-2x pull-left fa-border text-green"></i>
                                        <h4 class="text-white no-margin padding-5">Test Solution</h4>
                                    </div>
                                    <div class="timeline_content">
                                        <p>
                                            <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                        </p>
                                        <div map-lazy-load="https://maps.google.com/maps/api/js">
                                            <ng-map zoom="4" center="-33, 151">
                                                <marker position="-33.890542, 151.274856"
                                                        icon="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png"></marker>
                                            </ng-map>
                                        </div>
                                    </div>
                                    <div class="readmore">
                                        <a href="#" class="btn btn-transparent-white"> Read More <i class="fa fa-arrow-circle-right"></i> </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="date_separator" id="october">
                            <span>OCTOBER 2014</span>
                        </div>
                        <ul class="columns">
                            <li>
                                <div class="timeline_element partition-white">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">05</span>
                                            </div>
                                            <div class="inline-block">
                                                <span class="block week-day text-extra-large">Wednesday</span>
                                                <span class="block month text-large text-light">november 2014</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_title">
                                        <i class="fa fa-check fa-2x pull-left fa-border text-green"></i>
                                        <h4 class="light-text no-margin padding-5">Appointment</h4>
                                    </div>
                                    <div class="timeline_content">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-4">
                                                <img src="assets/images/photodune-4043508-3d-modern-office-room-l.jpg" alt="offce" class="img-responsive" />
                                            </div>
                                            <div class="col-md-9 col-xs-8">
                                                <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="readmore">
                                        <a href="#" class="btn btn-light-blue"> Read More <i class="fa fa-arrow-circle-right"></i> </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline_element partition-purple">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">05</span>
                                            </div>
                                            <div class="inline-block">
                                                <span class="block week-day text-extra-large">Wednesday</span>
                                                <span class="block month text-large text-white-transparent">november 2014</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_title">
                                        <i class="fa fa-check fa-2x pull-left fa-border text-green"></i>
                                        <h4 class="text-white no-margin padding-5">Appointment</h4>
                                    </div>
                                    <div class="timeline_content">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-4">
                                                <img src="assets/images/photodune-4043508-3d-modern-office-room-l.jpg" alt="offce" class="img-responsive" />
                                            </div>
                                            <div class="col-md-9 col-xs-8">
                                                <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="readmore">
                                        <a href="#" class="btn btn-transparent-white"> Read More <i class="fa fa-arrow-circle-right"></i> </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline_element partition-green">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">05</span>
                                            </div>
                                            <div class="inline-block">
                                                <span class="block week-day text-extra-large">Wednesday</span>
                                                <span class="block month text-large text-white-transparent">november 2014</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_content">
                                        <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </div>
                                    <div class="readmore">
                                        <a href="#" class="btn btn-dark-green"> Read More <i class="fa fa-arrow-circle-right"></i> </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline_element partition-white">
                                    <div class="timeline_date">
                                        <div>
                                            <div class="inline-block">
                                                <span class="day text-bold">05</span>
                                            </div>
                                            <div class="inline-block">
                                                <span class="block week-day text-extra-large">Wednesday</span>
                                                <span class="block month text-large text-light">november 2014</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline_content">
                                        <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </div>
                                    <div class="readmore">
                                        <a href="#" class="btn btn-light-blue"> Read More <i class="fa fa-arrow-circle-right"></i> </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-white space20">
        <div class="panel-heading">
            <h4 class="panel-title">Recent Tweets</h4>
        </div>
        <div class="panel-body">
            <ul class="ltwt">
                <li class="ltwt_tweet">
                    <p class="ltwt_tweet_text">
                        <a href class="text-info">
                            @Shakespeare
                        </a>
                        Some are born great, some achieve greatness, and some have greatness thrust upon them.
                    </p>
                    <span class="block text-light"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/ng-template" id="asideContent.html">
    <div class="modal-header">
        <h3 class="modal-title"><strong>Jane Doe</strong></h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="partition-light-grey padding-15 text-center margin-bottom-25">
                    <h4 class="no-margin">Full Medical Records</h4>
                </div>
                <v-accordion class="vAccordion--default">
                    <!-- add expanded attribute to open first section -->
                    <v-pane expanded>
                        <v-pane-header>
                            Primary
                        </v-pane-header>
                        <v-pane-content>
                            <table class="table margin-bottom-5">
                                <tbody>
                                <tr>
                                    <td><strong>Diagnosis</strong></td>
                                    <td class="center"><strong>Amount (N)</strong></td>
                                    <td class="center"><strong>Count</strong></td>
                                </tr>
                                <tr>
                                    <td>Typhoid</td>
                                    <td class="center">521,000</td>
                                    <td class="center">17</td>
                                </tr>
                                <tr>
                                    <td>Malaria</td>
                                    <td class="center">1,300,000</td>
                                    <td class="center">120</td>
                                </tr>
                                <tr>
                                    <td>Yello Fever</td>
                                    <td class="center">230,000</td>
                                    <td class="center">4</td>
                                </tr>
                                </tbody>
                            </table>
                        </v-pane-content>
                        <v-pane>
                            <v-pane-header>
                                Secondary
                            </v-pane-header>
                            <v-pane-content>
                                <table class="table margin-bottom-5">
                                    <tbody>
                                    <tr>
                                        <td><strong>Diagnosis</strong></td>
                                        <td class="center"><strong>Amount (N)</strong></td>
                                        <td class="center"><strong>Count</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Typhoid</td>
                                        <td class="center">521,000</td>
                                        <td class="center">17</td>
                                    </tr>
                                    <tr>
                                        <td>Malaria</td>
                                        <td class="center">1,300,000</td>
                                        <td class="center">120</td>
                                    </tr>
                                    <tr>
                                        <td>Yello Fever</td>
                                        <td class="center">230,000</td>
                                        <td class="center">4</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </v-pane-content>
                        </v-pane>
                        <v-pane>
                            <v-pane-header>
                                Tertiary
                            </v-pane-header>
                            <v-pane-content>
                                <table class="table margin-bottom-5">
                                    <tbody>
                                    <tr>
                                        <td><strong>Diagnosis</strong></td>
                                        <td class="center"><strong>Amount (N)</strong></td>
                                        <td class="center"><strong>Count</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Typhoid</td>
                                        <td class="center">521,000</td>
                                        <td class="center">17</td>
                                    </tr>
                                    <tr>
                                        <td>Malaria</td>
                                        <td class="center">1,300,000</td>
                                        <td class="center">120</td>
                                    </tr>
                                    <tr>
                                        <td>Yello Fever</td>
                                        <td class="center">230,000</td>
                                        <td class="center">4</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </v-pane-content>
                        </v-pane>
                </v-accordion>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok($event)">OK</button>
        <button class="btn btn-primary" ng-click="cancel($event)">Cancel</button>
    </div>
</script>
