<!-- start: YOUR CONTENT HERE -->
<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<uib-tabset class="tabbable">
						<uib-tab>
							<uib-tab-heading>
								<i class="fa fa-user"></i> Refferral Code List
							</uib-tab-heading>
							<div class="row">
								<div class="col-sm-12">

								</div>
							</div>
						</uib-tab>
						<uib-tab>
							<uib-tab-heading>
								<i class="fa fa-building"></i> Create Refferral Code
							</uib-tab-heading>
							<div class="row">
								<div class="col-sm-12">
									<div class="panel panel-white">
										<div class="panel-heading border-light">
											<h4 class="panel-title">Search for <span class="text-bold">Enrollee</span> with email</h4>
										</div>
										<div class="panel-body">
											<form role="form" class="form-horizontal" name="Form" ng-submit="dashboardCtrl.searchForEnrollee(Form)" novalidate>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="inputEmail3">Email</label>
													<div class="col-sm-6">
														<input type="email" placeholder="e.g johnsnow@gmail.com" id="inputEmail3" class="form-control" name="email" ng-model="dashboardCtrl.email"
															required>
													</div>
													<div ng-messages="Form.email.$error" ng-if="Form.email.$dirty">
														<div ng-message="required"><i class="fa fa-times-circle icon-error" aria-hidden="true"></i></div>
														<span ng-if="Form.email.$valid"><i class="fa fa-check-circle-o icon-success"  aria-hidden="true"></i></span>
													</div>
												</div>

												<div class="form-group margin-bottom-0">
													<div class="col-sm-offset-8 col-sm-2">
														<button class="btn btn-o btn-primary" type="submit">Search</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="row" ng-if=show>
								<div class="col-sm-12">
									<div class="panel panel-white">
										<div class="panel-heading border-light">
											<h4 class="panel-title">Create <span class="text-bold">Refferral Code</span></h4>
										</div>
										<div class="panel-body">
											<form role="form" class="form-horizontal" name="Form" novalidate>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="inputEmail3">Name</label>
													<div class="col-sm-6">
														<input type="text" id="inputEmail3" class="form-control" name="name" ng-model="dashboardCtrl.enrollee.name" required disabled="disabled">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="inputEmail3">ID</label>
													<div class="col-sm-6">
														<input type="text" id="inputEmail3" class="form-control" name="id" ng-model="dashboardCtrl.enrollee.generated_id" required
															disabled="disabled">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="form-field-select-2">Hospital</label>
													<div class="col-sm-6">
														<select class="cs-select cs-skin-slide" ng-model="dashboardCtrl.enrollee.selectedHospital" name="hospital" ng-options="hospital.name for hospital in hospitals"
															ng-required="true">
                                                            <option value="">Select an Hospital</option>
                                                        </select>
													</div>
												
												</div>
												<div class="form-group margin-bottom-0">
													<div class="col-sm-offset-8 col-sm-2">
														<button class="btn btn-o btn-primary" type="submit" ng-click="dashboardCtrl.createCode()">Search</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="row" ng-if=show_result>
								<div class="col-sm-12">
									<div class="panel panel-white">
										<div class="panel-heading border-light">
											<h4 class="panel-title">Create <span class="text-bold">Send Referral Code to hospital</span></h4>
										</div>
										<div class="panel-body">
											<form role="form" class="form-horizontal" name="Form" ng-submit="dashboardCtrl.searchForEnrollee(Form)" novalidate>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="inputEmail3">Referral Code</label>
													<div class="col-sm-6">
														<span class="text-extra-large text-green"> {{ dashboardCtrl.result.referral_code }}</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="inputEmail3">Hopital Email</label>
													<div class="col-sm-6">
														<input type="email" placeholder="e.g johnsnow@gmail.com" id="inputEmail3" class="form-control" name="hospital_email" ng-model="dashboardCtrl.enrollee.selectedHospital.email"
															required disabled="disabled">
													</div>
												</div>

												<div class="form-group margin-bottom-0">
													<div class="col-sm-offset-8 col-sm-2">
														<button class="btn btn-o btn-primary" type="submit">Send</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</uib-tab>
						<uib-tab>
							<uib-tab-heading>
								<i class="fa fa-user"></i> Health Info Staff
							</uib-tab-heading>
							<div class="row">
								<div class="col-sm-12">
									<div class="panel panel-white">
										<div class="panel-heading border-light">
											<h4 class="panel-title">Search for <span class="text-bold">Claims</span> with <span class="text-bold">Referral</span> Code</h4>
										</div>
										<div class="panel-body">
											<form role="form" class="form-horizontal" name="Form" ng-submit="dashboardCtrl.getClaimsRecord(Form)" novalidate>
												<div class="form-group">
													<label class="col-sm-2 control-label" for="inputEmail3">Email</label>
													<div class="col-sm-6">
														<input type="text" placeholder="e.g johnsnow@gmail.com" id="inputEmail3" class="form-control" name="code" ng-model="dashboardCtrl.codeSearch.referral_code"
															   required>
													</div>
													<div ng-messages="Form.code.$error" ng-if="Form.code.$dirty">
														<div ng-message="required"><i class="fa fa-times-circle icon-error" aria-hidden="true"></i></div>
														<span ng-if="Form.code.$valid"><i class="fa fa-check-circle-o icon-success"  aria-hidden="true"></i></span>
													</div>
												</div>

												<div class="form-group margin-bottom-0">
													<div class="col-sm-offset-8 col-sm-2">
														<button class="btn btn-o btn-primary" type="submit">Search</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>

							<div class="row" ng-show="show_claims">
								<div class="col-sm-12">
									<div class="panel panel-white">
										<div class="panel-heading border-light">
											<h4 class="panel-title">Claims attached to the  <span class="text-bold">Referral Code ( {{ dashboardCtrl.codeSearch.referral_code }} )</span> </h4>
										</div>
										<div class="panel-body">
											<table class="table table-striped table-hover" id="sample-table-3">
												<thead>
												<tr>
													<th class="hidden-xs">Enrollee Name</th>
													<th class="">Procedure</th>
													<th>Hospital</th>
													<th>Hospital Band</th>
													<th class="hidden-xs">Price</th>
													<th class="hidden-xs center" >Month</th>
												</tr>
												</thead>
												<tbody>
												<tr ng-repeat="record in dashboardCtrl.claimsRecord.claims.data">
													<td class="hidden-xs">{{dashboardCtrl.claimsRecord.enrollee_name}}</td>
													<td class="hidden-xs">{{ record.procedure }}</td>
													<td class="hidden-xs">{{dashboardCtrl.claimsRecord.hospital_name}}</td>
													<td class="hidden-xs">{{record.band_name}}</td>
													<td class="hidden-xs">{{record.prices[0].price || record.prices[1].price}}</td>
													<td class="hidden-xs">{{record.month}}</td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</uib-tab>
					</uib-tabset>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: TABS -->